@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}
/* body {
  overflow: hidden;
} */
html {
  scroll-behavior: smooth;
}
/* Navigation Styling */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: #fff;
  z-index: 100000;
}
.nav h2 {
  color: #6d6875;
  font-size: 3rem;
}
.nav h2 a {
  text-decoration: none;
  color: #6d6875;
}
#item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #6d6875;
}
#item li {
  list-style: none;
  padding: 1rem;
}
#item li a {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6d6875;
  transition: 0.5s;
}
#item li a:hover {
  color: #0e8c58;
}
.title-style {
  color: #0e8c58;
}

/* Buttons Styling */
.home-btn {
  position: relative;
  width: 100%;
  left: 9.3rem;
  margin-top: 7rem;
}
.btn {
  background-color: #0e8c58;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  border: #0e8c58;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  background-color: #fff;
  color: #0e8c58;
  border: solid #0e8c58;
}
/* --------------------- */

/* Content styling for the home page  */
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}
.cols {
  width: 60%;
  z-index: 5;
}
.cols0 {
  width: 60%;
}
.topline {
  display: block;
  position: relative;
  font-size: 2.18rem;
  letter-spacing: 5px;
  color: #6d6875;
}
.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #0e8c58;
}
h1 {
  display: block;
  font-size: 3em;
  font-weight: 900;
  color: #6d6875;
}
.multitext {
  font-size: 3rem;
  color: #0e8c58;
  text-transform: capitalize;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 2rem;
  width: 90%;
  font-size: 1.3em;
}
.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.imgbox img {
  position: relative;
  height: 100%;
  width: calc(100% - 5rem);
  top: -50px;
  left: 30%;
  border-radius: 3%;
}
/* Footer Styling */
footer {
  background: #0e8c58;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px top;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color .5 ease;
}
.socials a:hover i{
  color: #6d6875;
}
.footer-bottom{
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

